{{ if .Site.Params.experience.enable | default false }}
{{- $experience := .Site.Language.Params.experience | default .Site.Params.experience -}}

<div class="row justify-content-center py-5">
	
	<h3 class="text-center">
            {{ $experience.title | default .Site.Params.experience.title | default (i18n "experience") }}
        </h3>

        <div class="row justify-content-center py-5">
	
    <!-- Experience Tabs -->
    <ul class="nav nav-pills justify-content-center flex-wrap mb-2 bg-transparent secondary-font"
        id="experience-pills-tab"
        role="tablist">

        {{ range $index, $element := $experience.items | default .Site.Params.experience.items }}

        <li class="nav-item mx-1 bg-transparent" role="presentation">
            <div
                class="nav-link {{ if eq $index 0 }}active{{ end }} bg-transparent"
                aria-selected="{{ if eq $index 0 }}true{{ else }}false{{ end }}"
                role="tab"
                data-bs-toggle="pill"
                id="experience-{{ $index }}-tab"
                data-bs-target="#experience-{{ $index }}"
                aria-controls="experience-{{ $index }}"
            >
                {{ .title }}
            </div>
        </li>

        {{ end }}

    </ul>


    <!-- Experience Tab Content -->
    <div class="tab-content pb-3 bg-transparent secondary-font"
         id="experience-pills-tabContent">

        {{ range $index, $element := $experience.items | default .Site.Params.experience.items }}

        <div
            class="tab-pane fade bg-transparent {{ if eq $index 0 }}show active{{ end }}"
            role="tabpanel"
            id="experience-{{ $index }}"
            aria-labelledby="experience-{{ $index }}-tab"
        >

            <div class="col-12 p-0">

                <div class="row align-items-center justify-content-center m-1 mb-4">

                    {{ if $experience.index }}
                    <div class="col-md-1 text-center me-2 p-0 d-none d-md-block">
                        <div class="py-2">
                            <span class="index shadow-lg">
                                {{ add $index 1 }}
                            </span>
                        </div>
                    </div>
                    {{ end }}


                    <div class="col-md-9">

                        <div class="card shadow-sm h-100 bg-white">
                            <div class="card-body">
                            
                            
                                <!-- Main Experience Title -->
                                <div class="float-end">
                                    <small>{{ .date }}</small>
                                </div>
                            
                            
                                {{ if .url }}
                                <a href="{{ .url }}" target="_blank">
                                    <h5 class="card-title">{{ .title }}</h5>
                                </a>
                                {{ else }}
                                    <h5 class="card-title">{{ .title }}</h5>
                                {{ end }}
                            
                            
                            
                                <!-- Companies -->
                                {{ range $companyIndex, $company := .companies }}

                                <div class="border-top pt-3 mt-3">

                                    <!-- Company -->
                                    {{ if $company.companyUrl }}

                                    <a href="{{ $company.companyUrl }}" target="_blank">
                                        <h5 class="card-title">{{ $company.title }}</h5>
                                    </a>
                                    
                                    {{ else }}
                                    
                                    <h5 class="card-title">{{ $company.title }}</h5>
                                    
                                    {{ end }}


                                    <!-- Jobs -->
                                    {{ range $jobIndex, $job := $company.jobs }}

                                    <div class="py-2">

                                        <div class="float-end">
                                            <small>{{ $job.date }}</small>
                                        </div>

                                        <h6>{{ $job.name }}</h6>
										    {{ if $company.companyUrl }}
                                            
                                            <a href="{{ $company.companyUrl }}" target="_blank">
                                                <h6>{{ $company.company }}</h6>
                                            </a>
                                            
                                            {{ else }}
                                            
                                            <h6>{{ $company.company }}</h6>
                                            
                                            {{ end }}

                                        <div class="py-1 accomplishment-content">
                                            {{ $job.content | markdownify }}
                                        </div>

                                    </div>

                                    {{ end }}


                                    <!-- Resources -->
                                    {{ if $company.resources }}

                                    <div class="py-2">

                                        <button
                                            class="btn btn-outline-secondary btn-sm"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#experience-resources-{{ $index }}-{{ $companyIndex }}"
                                            aria-expanded="false"
                                            aria-controls="experience-resources-{{ $index }}-{{ $companyIndex }}"
                                        >

                                            Resources ({{ len $company.resources }})

                                        </button>


                                        <div
                                            class="collapse mt-2"
                                            id="experience-resources-{{ $index }}-{{ $companyIndex }}"
                                        >

                                            {{ range $company.resources }}

                                            <div class="mb-1">

                                                <a href="{{ .url }}" target="_blank">

                                                    {{ if .icon }}
                                                    <i class="fas {{ .icon }}"></i>
                                                    {{ end }}

                                                    {{ .name }}

                                                </a>

                                            </div>

                                            {{ end }}

                                        </div>

                                    </div>

                                    {{ end }}

                                </div>

                                {{ end }}

                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        {{ end }}

    </div>

</div>

{{ end }}