{{ if .Site.Params.experience.enable | default false }}
{{- $experience := .Site.Language.Params.experience | default .Site.Params.experience -}}

<section id="education" class="py-5">  <!-- changed id="accomplishments" to id="education" to match section styling-->
    <div class="container">

        <h3 class="text-center">
            {{ $experience.title | default .Site.Params.experience.title | default (i18n "experience") }}
        </h3>

        <div class="row justify-content-center py-5">

            {{ range $index, $element := $experience.items | default .Site.Params.experience.items }}

            {{ $company := .company }}
            {{ $companyUrl := .companyUrl }}

            <div class="col-md-9 mb-4">

                    <div class="card shadow-sm h-100" style="
                        overflow: hidden;
                    ">  <!-- removed lines after <div class="card shadow-sm h-100" style=" 
                        background-color: #f8f9fa !important;
                        border: 1px solid #6c757d !important;
                        border-radius: 1rem !important; -->

                    <div class="card-body">

                        <!-- Company -->
                        <h4 class="card-title mb-4">
                            {{ if $companyUrl }}
                                <a href="{{ $companyUrl }}" target="_blank">
                                    {{ $company }}
                                </a>
                            {{ else }}
                                {{ $company }}
                            {{ end }}
                        </h4>

                        <!-- Jobs within company -->
                        {{ range $jobIdx, $job := .jobs }}

                            {{ if gt $jobIdx 0 }}
                            <hr>
                            {{ end }}

                            <div class="mb-3">

                                <div class="d-flex justify-content-between align-items-start flex-wrap">

                                    <div>

                                        <h5 class="mb-1">

                                            {{ $job.name }}

                                            {{ if $job.info.content }}

                                                <span class="ms-2">

                                                    <span
                                                        data-bs-toggle="tooltip"
                                                        data-bs-placement="top"
                                                        data-bs-original-title="{{ $job.info.content }}">

                                                        <i class="fas fa-info-circle fa-xs"></i>

                                                    </span>

                                                </span>

                                            {{ end }}

                                        </h5>

                                    </div>

                                    <div class="text-muted">

                                        <small>{{ $job.date }}</small>

                                    </div>

                                </div>

                                <div class="pt-2">

                                    {{ $job.content | markdownify }} <!-- can use either markdownify or plainify -->

                                </div>

                                {{ if $job.featuredItems }}

                                <div class="featuredLink list-inline mt-3">

                                    {{ range $job.featuredItems.fontAwesomeIcons }}

                                    <span class="list-inline-item">

                                        <a
                                            href="{{ .url }}"
                                            target="_blank"

                                            {{ if .tooltip }}
                                            data-bs-toggle="tooltip"
                                            data-bs-placement="top"
                                            data-bs-original-title="{{ .tooltip }}"
                                            {{ end }}>

                                            <i class="{{ .icon }}"></i>

                                        </a>

                                    </span>

                                    {{ end }}

                                    {{ range $job.featuredItems.customIcons }}

                                    <span class="list-inline-item">

                                        <a
                                            href="{{ .url }}"
                                            target="_blank"

                                            {{ if .tooltip }}
                                            data-bs-toggle="tooltip"
                                            data-bs-placement="top"
                                            data-bs-original-title="{{ .tooltip }}"
                                            {{ end }}>

                                            <img src="{{ .icon }}">

                                        </a>

                                    </span>

                                    {{ end }}

                                </div>

                                {{ end }}

                            </div>

                        {{ end }}

                    </div>

                </div>

            </div>

            {{ end }}

        </div>

    </div>
</section>

{{ end }}